.Machine {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40%;
  border: 2px solid black;
  margin-bottom: 2px;
}

.Machine-winner {
  color: green;
  font-weight: 900;
}
.Machine-looser {
  color: red;
  font-weight: 900;
}
